<div class="container header">
  <div
    *ngIf="(loggedInUserName$ | async) != 'NOT LOGGED IN'"
    class="row justify-content-end">

    <div class="col-3">
      <button
        disabled
        class="btn btn-danger">
        <div>User: {{loggedInUserName$ | async}}</div>
      </button>
    </div>

    <div class="col-3"
      *ngIf="showPlayButton$ | async">
      <button
        class="btn btn-danger"
        routerLink="/game">
        Play
      </button>
    </div>

    <div class="col-3">
      <button
        (click)="logout()"
        class="btn btn-danger">
        Logout
      </button>
    </div>

  </div>
</div>
