.page-wrapper {
  max-width: fit-content;
}

.panel-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  width: fit-content;
  height: fit-content;
}

.play-button {
  color: white;
  border: none;
  background-color: red;
  font-family: sans-serif;
  font-size: 40px;
  height: 60px;
  width: 240px;
}

.button-container {
  border: 2px solid red;
  width: fit-content;
  margin: auto;
}

.play-button:hover {
  color: red;
  border: 2px solid red;
  background-color: transparent;
  cursor: pointer;
}
